

@media (max-width:991px) {

    .wrapper    {
        padding: 0px 10px !important;
    }

    .btn-box .btn.btn-border-icon {
        margin-bottom: 10px;
    }

    .headerBox {
        position: static !important;
    }

    .aside {
        width: 0px !important;
        box-shadow: none !important;
        border: none !important;
        z-index: 99999;
    }

    .aside-enabled .aside {
        width: 265px !important;
        z-index: 99999;
    }

    .header .headerContBox {
        flex-wrap: wrap;
        padding: 0px !important;
    }

    .headerContBox .headingCont {
        display: inline-block !important;
        padding-left: 35px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .badgetxt {
        display: block;
    }

    .headerContBox .headingCont a {
        position: absolute;
         left: 25px;
        margin-top: 4px;
    }

    .header .header-right-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        padding-left: 10px;
        width: 100%;
        border-bottom: 1px solid #444;
    }

    .header .header-right-box {
        justify-content: space-between !important;
    }
    
   
}


@media (max-width:767px) {

    .fixed-header   {
        max-height: calc(100vh - 40px) !important;
    }

}