<div class="content">
    <div class="aside">
        <div class="aside-logo d-flex align-items-center justify-content-between">
            <span class="logo">Saark</span>
            <a class="d-lg-none" href="javascript:void(0)" (click)="toggleAside()" matTooltip="Toggle Menu">
                <i class="ki-duotone ki-burger-menu m-0 font24">
                    <span class="path1"></span>
                    <span class="path2"></span>
                    <span class="path3"></span>
                    <span class="path4"></span>
                    <span class="path5"></span>
                    <span class="path6"></span>
                </i>
                
            </a>
        </div>

        <div class="aside-menu">


            <!-- Optional search -->
<!-- <div class="menu-search">
    <mat-form-field appearance="outline" class="m-0 noerror w-auto">
                                <mat-label>Search</mat-label>
                                <input matInput #searchBox type="text" class="form-control"
       (input)="onSearch(searchBox.value)">
                                <i class="ki-duotone ki-magnifier position-absolute icon-field font18">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                </i>
                            </mat-form-field>

</div> -->

<!-- Breadcrumb -->
<!-- <div class="breadcrumb" *ngIf="breadcrumbPath()">
  {{ breadcrumbPath() }}
</div> -->

<!-- Recursive renderer -->
<ng-template #renderMenu let-items>
  <ul class="menu">
    <li *ngFor="let item of items"
        class="menu-item"
        [class.root]="items === currentMenuDisplay()"
        [class.active]="activeItem()?.route === item.route">

     <div class="menu-label" (click)="toggleSubMenu(item)">

  <!-- ✅ Show icon for parent menus only -->
  <div class="menu-icon" *ngIf="item.icon">
    <i class="ki-duotone" [ngClass]="item.icon">
      <span class="path1"></span>
      <span class="path2"></span>
      <span class="path3"></span>
      <span class="path4"></span>
      <span class="path5"></span>
      <span class="path6"></span>
      <span class="path7"></span>
      <span class="path8"></span>
      <span class="path9"></span>
      <span class="path10"></span>
      <span class="path11"></span>
      <span class="path12"></span>
      <span class="path13"></span>
      <span class="path14"></span>
      <span class="path15"></span>
      <span class="path16"></span>
      <span class="path17"></span>
      <span class="path18"></span>
      <span class="path19"></span>
      <span class="path20"></span>
      <span class="path21"></span>
    </i>
  </div>

  <!-- Label -->
  <span class="menu-text" [innerHTML]="highlightMatch(item.label)"></span>

<span class="arrow" *ngIf="item.children?.length">
  
  <!-- Collapsed (right arrow) -->
  <svg *ngIf="!isExpanded(item)" width="18" height="18" viewBox="0 0 24 24">
    <path fill="currentColor" d="M8.293 5.293a1 1 0 0 1 1.414 0l6 6a1 1 0 0 1 0 1.414l-6 6a1 1 0 0 1-1.414-1.414L13.586 12 8.293 6.707a1 1 0 0 1 0-1.414z"/>
  </svg>

  <!-- Expanded (down arrow) -->
  <svg *ngIf="isExpanded(item)" width="18" height="18" viewBox="0 0 24 24">
    <path fill="currentColor" d="M5.293 8.293a1 1 0 0 1 1.414 0L12 13.586l5.293-5.293a1 1 0 0 1 1.414 1.414l-6 6a1 1 0 0 1-1.414 0l-6-6a1 1 0 0 1 0-1.414z"/>
  </svg>

</span>
</div>


      <!-- ✅ Submenu wrapper ALWAYS exists -->
      <div class="submenu-wrapper" [class.open]="isExpanded(item)">
        <ng-container *ngIf="item.children?.length">
          <ng-container
            *ngTemplateOutlet="renderMenu; context: { $implicit: item.children }">
          </ng-container>
        </ng-container>
      </div>

    </li>
  </ul>
</ng-template>

<!-- Root render -->
<ng-container *ngTemplateOutlet="renderMenu; context: { $implicit: currentMenuDisplay() }"></ng-container>

            
        </div>



        <a href="javascript:void(0)" class="aside-footer">
            <div class="profile-box" [routerLink]="['../personaldetails']">
                <div class="profile-box-img">
                    <img src="../../assets/images/avatar.png" class="img-fluid">
                </div>
                <span>name</span>
            </div>
        </a>

    </div>
    <div class="wrapper">
        <div class="headerBox">
            <div class="header">
                <div class="d-flex align-items-center justify-content-between h-100 ps-1 headerContBox">
                    <h1 class="order-lg-1 order-2">
                        <div class="d-flex align-items-center gap-2 headingCont">
                            <a href="javascript:void(0)" (click)="toggleAside()" matTooltip="Toggle Menu">
                                <i class="ki-duotone ki-burger-menu m-0 font24 primary">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                    <span class="path5"></span>
                                    <span class="path6"></span>
                                </i>
                            </a>
                            {{ activeItem()?.label || 'Current Menu' }}
                            <span class="badgetxt">
                                {{ breadcrumbPath() }}
                            </span>
                        </div>
                    </h1>
                    <div class="header-right-box order-1 order-lg-2">

                        <div class="themeMode d-flex align-items-center" matTooltip="Change Theme">
                            <input class="checkbox" type="checkbox" id="toggle" (change)="onThemeToggle($event)" />
                            <label class="toggle" for="toggle">
                                <div class="icon icon--light" name="sunny-outline">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon s-ion-icon"
                                        viewBox="0 0 512 512" style="stroke-width: 30px;">
                                        <path stroke-linecap="round" stroke-miterlimit="10"
                                            d="M256 48v48M256 416v48M403.08 108.92l-33.94 33.94M142.86 369.14l-33.94 33.94M464 256h-48M96 256H48M403.08 403.08l-33.94-33.94M142.86 142.86l-33.94-33.94"
                                            class="ionicon-fill-none ionicon-stroke-width" stroke="currentColor"></path>
                                        <circle cx="256" cy="256" r="80" stroke-linecap="round" stroke-miterlimit="10"
                                            class="ionicon-fill-none ionicon-stroke-width"></circle>
                                    </svg>
                                </div>
                                <div class="icon icon--dark" name="moon-outline">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon s-ion-icon"
                                        viewBox="0 0 512 512">
                                        <path
                                            d="M160 136c0-30.62 4.51-61.61 16-88C99.57 81.27 48 159.32 48 248c0 119.29 96.71 216 216 216 88.68 0 166.73-51.57 200-128-26.39 11.49-57.38 16-88 16-119.29 0-216-96.71-216-216z"
                                            stroke-linecap="round" stroke-linejoin="round"
                                            class="ionicon-fill-none ionicon-stroke-width"></path>
                                    </svg>
                                </div>
                                <span class="ball"></span>
                            </label>
                        </div>

                        <!-- <button class="btn btn-icon" [matMenuTriggerFor]="menu4" matTooltip="Notification">
                            <i class="ki-duotone ki-notification-on font22 m-0">
                                <span class="path1"></span>
                                <span class="path2"></span>
                                <span class="path3"></span>
                                <span class="path4"></span>
                                <span class="path5"></span>
                                <span class="path6"></span>
                                <span class="path7"></span>
                                <span class="path8"></span>
                                <span class="path9"></span>
                                <span class="path10"></span>
                            </i>
                        </button>

                        <mat-menu #menu4="matMenu" class="notification">
                            <div class="noti-title border-bottom">
                                <h5 class="m-0">
                                    <span class="float-right">
                                        <a href="" class="text-dark">
                                            <small>Clear All</small>
                                        </a>
                                    </span>
                                    Notification
                                </h5>
                            </div>
                            <div class="notification_box">
                                <a href="javascript:void(0);" class="notify-item border-bottom">
                                    <div class="tag_slide">No Notification!</div>
                                </a>
                            </div>
                        </mat-menu> -->


                        <div class="btnBoxHeader">
                            <button class="btn btn-icon headerLink" matTooltip="Settings">
                                <i class="ki-duotone ki-setting-2 m-0 font22">
                                    <span class="path1"></span>
                                    <span class="path2"></span>
                                    <span class="path3"></span>
                                    <span class="path4"></span>
                                    <span class="path5"></span>
                                    <span class="path6"></span>
                                </i>
                                <div class="headerlinktxt">Settings</div>
                            </button>

                            <button class="btn btn-icon headerLink logOutBtn" (click)="logOutBtn()" routerLink="/login" matTooltip="Log Out">

                                <svg xmlns="http://www.w3.org/2000/svg" id="Object" viewBox="0 0 515.95 574.15"
                                    style="width: 19px;">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: #fff;
                                            }

                                            .cls-1,
                                            .cls-2,
                                            .cls-3 {
                                                stroke-width: 0px;
                                            }

                                            .cls-2 {
                                                fill: #c0c0e5;
                                            }

                                            .cls-3 {
                                                fill: #2e2eaa;
                                            }
                                        </style>
                                    </defs>
                                    <path class="cls-2"
                                        d="m18.93,19.26C8.2,20.2,0,29.16,0,39.92v474.87c0,10.1,7.19,18.66,17.12,20.44l216.74,38.61c6.06,1.09,12.26-.55,16.96-4.52,4.72-3.95,7.43-9.76,7.43-15.9V20.75c0-5.86-2.41-11.35-6.72-15.3-4.33-3.96-10.02-5.89-15.86-5.37L18.93,19.26Zm182.5,296.2c-8.92,0-16.16-12.72-16.16-28.38s7.24-28.37,16.16-28.37,16.17,12.69,16.17,28.37-7.24,28.38-16.17,28.38Z">
                                    </path>
                                    <polygon class="cls-3"
                                        points="515.95 276.84 408.36 195.08 408.36 237.49 287.48 237.49 287.48 315.67 408.36 315.67 408.36 358.08 515.95 276.84">
                                    </polygon>
                                    <path class="cls-1"
                                        d="m163.48,287.26c0,17.76,15,32.2,33.49,32.2s33.51-14.43,33.51-32.2-15-32.18-33.51-32.18-33.49,14.39-33.49,32.18Z">
                                    </path>
                                    <path class="cls-2"
                                        d="m388.8,156.08V30.88c0-3.28-1.71-6.5-4.73-8.82-2.99-2.32-7.16-3.66-11.41-3.66h-87.72v24.94h71.55v112.74h32.32Z">
                                    </path>
                                    <path class="cls-2"
                                        d="m281.94,529.77v25.97h90.72c4.25,0,8.42-1.38,11.41-3.81,3.02-2.41,4.73-5.76,4.73-9.18v-149.68h-32.32v136.7h-74.55Z">
                                    </path>
                                </svg>
                                <div class="headerlinktxt">Log Out</div>
                            </button>
                        </div>


                    </div>
                </div>
            </div>


        </div>

        <div class="middle-area">
            <router-outlet></router-outlet>
        </div>

        <footer class="footerBox">
            <div class="row">
                <div class="col-lg-12">
                    2025 &copy; Saark. All Rights Reserved.
                </div>
            </div>
        </footer>

    </div>
</div>